@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #FBEEFF;
  --dark-pink-hex:#DF49D9;
  --text-orange-hex: #E35435;
}

body {
  background: var(--foreground-hex);
}

button {
  background-color: #F5CCFF; /* light pink */
  border: 1px solid var(--dark-pink-hex);
  border-radius: 10px;
  color: var(--text-orange-hex);
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family: 'Calistoga', sans-serif;
}
